@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: kollektif; }

@font-face {
  font-family: kollektif;
  src: url(../resources/fonts/Kollektif.ttf); }

header.inicio {
  background-color: #FAF3DD;
  border-bottom: #023047 10px solid;
  display: flex;
  align-items: center;
  justify-content: center; }

nav.nav {
  background-color: #FAF3DD;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "links-1 logo links-2"; }
  nav.nav a {
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;
    font-size: medium;
    font-family: kollektif;
    margin: 2px 10px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534); }
  nav.nav a :hover {
    transform: scaleX(1.5);
    transition: 3s ease-in-out; }
  nav.nav ul .links-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: links-1; }
  nav.nav div .logo {
    grid-area: logo; }

ul .links-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: links-2; }

.nav ul,
.logo {
  background-color: #FAF3DD;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.logo img {
  height: 80px;
  border-radius: 15px; }

.logo {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-inicio {
  background-color: #AED9E0;
  flex-wrap: wrap;
  justify-content: center; }
  .main-inicio .por-que {
    background-color: #FAF3DD;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px 5px rgba(59, 132, 185, 0.534); }
    .main-inicio .por-que h2 {
      align-self: center;
      display: inline;
      margin: 5px;
      padding: 5px;
      font-family: Sedan; }
    .main-inicio .por-que ul {
      list-style-type: none;
      flex-direction: row;
      display: flex;
      margin-bottom: 10px; }
      .main-inicio .por-que ul li {
        display: inline;
        float: left;
        border-radius: 15px;
        box-shadow: 2px 3px 2px 2px rgba(59, 132, 185, 0.534);
        margin: 5px;
        padding: 5px;
        width: 20%; }
        .main-inicio .por-que ul li .nosotros {
          display: flex;
          flex-direction: column;
          align-items: center; }
        .main-inicio .por-que ul li p {
          text-align: center; }
        .main-inicio .por-que ul li a {
          display: block; }
          .main-inicio .por-que ul li a img {
            width: 35px;
            height: 35px;
            border-radius: 50%; }
        .main-inicio .por-que ul li a :hover {
          transform: scale(1.25);
          transition: 3s ease-in-out; }

.empieza {
  background-repeat: no-repeat;
  background-image: url(../resources/amigasEscaleraS.jpg);
  background-size: 100%; }

.presentacion {
  font-family: kollektif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.tarjeta-ingresa {
  background-color: #FAF3DD;
  border: #757575 solid 3px;
  border-radius: 15px;
  padding: 20px;
  display: block;
  margin: 20px;
  box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534); }
  .tarjeta-ingresa img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite; }

@keyframes example {
  0% {
    background-color: #efb359;
    left: 0px;
    top: 0px; }
  25% {
    background-color: #fcfc55;
    left: 200px;
    top: 0px; }
  50% {
    background-color: #a3daf2;
    left: 200px;
    top: 200px; }
  75% {
    background-color: #f96ccf;
    left: 0px;
    top: 200px; }
  100% {
    background-color: #f78e33;
    left: 0px;
    top: 0px; } }

.button {
  color: #FFFFFF;
  background-color: #FFA69E;
  border: #FFA69E;
  border-radius: 25px;
  font-family: kollektif;
  font-weight: bold;
  font-variant: small-caps;
  margin: 25px;
  padding: 15px;
  box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534); }

.footer {
  text-align: center;
  color: #FFFFFF;
  background-color: #0097A7;
  font-family: kollektif; }

.propuestas {
  display: flex;
  background-color: #FFA69E;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px; }
  .propuestas h2 {
    margin-top: 20px; }
  .propuestas .contiene-propuestas {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-radius: 15px; }
    .propuestas .contiene-propuestas .propuesta img {
      border-radius: 20px;
      margin: 20px;
      width: 200px;
      height: 120px; }
    .propuestas .contiene-propuestas .propuesta :hover :not(.desc) {
      transform: scale(1.25);
      transition: 3s ease-in-out;
      opacity: 1.5; }
    .propuestas .contiene-propuestas div .desc {
      text-align: center; }

@media (max-width: 650px) {
  nav.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "logo logo" "links-1 links-2"; }
  .links-1 {
    grid-area: links-1; }
  .links-2 {
    grid-area: links-2; }
  .logo {
    grid-area: logo; }
  .main-inicio img {
    width: 80%;
    height: auto; } }

@media (max-width: 480px) {
  nav.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "logo logo" "links-1 links-1" "links-2 links-2"; }
  .links-1 {
    grid-area: links-1; }
  .links-2 {
    grid-area: links-2; }
  .logo {
    grid-area: logo; } }

.destinos {
  display: flex;
  background-color: #AED9E0;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .destinos h2 {
    display: inline;
    margin: 5px;
    padding: 5px;
    font-family: Sedan; }
  .destinos .contiene-destinos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-radius: 15px; }
    .destinos .contiene-destinos .destino img {
      border-radius: 20px;
      margin: 10px;
      width: 250px;
      height: 200px; }
    .destinos .contiene-destinos div .desc {
      text-align: center; }
