* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

//tipografías
@import'../scss/utilities/fonts';
@import'../scss/utilities/colors';

header.inicio {
    background-color: $colorclaro1;
    border-bottom: #023047 10px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.nav {

    a {
        text-decoration: none;
        color: #212121;
        text-transform: uppercase;
        font-size: medium;
        font-family: "Roboto", sans-serif;
        margin: 2px 10px;

        border-radius: 15px;
        padding: 5px;
        box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
    }

    a :hover {
        transform: scaleX(1.5);
        transition: 3s ease-in-out;
    }

    background-color:$colorclaro1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "links-1 logo links-2";

    ul .links-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        grid-area: links-1;
    }

    div .logo {

        grid-area: logo;
    }
}

ul .links-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: links-2;

}



.nav ul,
.logo {
    background-color: $colorclaro1;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img {
    height: 80px;
    border-radius: 15px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-inicio {

    background-color: $colorclaro2;
    flex-wrap: wrap;
    justify-content: center;


    .por-que {
        background-color: $colorclaro1;
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        text-align: center;
        flex-direction: column;
        margin: 20px;
        border-radius: 15px;
        box-shadow: 2px 3px 5px 5px rgba(59, 132, 185, 0.534);

        h2 {
            align-self: center;
            display: inline;
            margin: 5px;
            padding: 5px;
            font-family: "Roboto", sans-serif;
        }

        ul {
            list-style-type: none;
            flex-direction: row;
            display: flex;
            margin-bottom: 10px;

            li {
                display: inline;
                float: left;

                border-radius: 15px;
                box-shadow: 2px 3px 2px 2px rgba(59, 132, 185, 0.534);
                margin: 5px;
                padding: 5px;
                width: 20%;

                .nosotros {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                p {
                    text-align: center;

                }

                a {
                    display: block;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }

                a :hover {
                    transform: scale(1.25);
                    transition: 3s ease-in-out;
                }

            }
        }
    }
}

.empieza {
    background-repeat: no-repeat;
    background-image: url(../resources/amigasEscaleraS.jpg);

    background-size: 100%;
}

.presentacion {

    font-family: "Roboto", sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tarjeta-ingresa {
    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        animation-name: example;
        animation-duration: 10s;
        animation-iteration-count: infinite
    }

    background-color:$colorblan;
    border: #757575 solid 3px;
    border-radius: 15px;
    padding: 20px;
    display: block;
    margin: 20px;
    box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
    .button {
        color: $colorblan;
        background-color: $colorprin;
        border: $colorsecun;
        border-radius: 25px;
        font-family: "Roboto", sans-serif;
        font-size: large;
        font-weight: bold;
        font-variant: small-caps;
        margin: 25px;
        padding: 15px;
        box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
    
    }
    .button :hover {
        transform: scale(1.25);
        transition: 3s ease-in-out;
    }
}

@keyframes example {
    0% {
        background-color: rgb(239, 179, 89);
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: rgb(252, 252, 85);
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: rgb(163, 218, 242);
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: rgb(249, 108, 207);
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: rgb(247, 142, 51);
        left: 0px;
        top: 0px;
    }
}





.footer {
    text-align: center;
    color: $colorblan;
    background-color: $colorprin;
    font-family: "Roboto", sans-serif;
    ;
}

.propuestas {
    display: flex;
    background-color: $colorsecun;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px;

    h2 {
        margin-top: 20px;
        color: $colorclaro2;
        font-variant: small-caps;
    }

    .contiene-propuestas {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        border-radius: 15px;

        .propuesta {

            img {
                border-radius: 20px;
                margin: 20px;
                width: 200px;
                height: 120px;

            }
        }

        .propuesta :hover :not(.desc) {
            transform: scale(1.25);
            transition: 3s ease-in-out;
            opacity: 1.5;
        }

        div .desc {
            text-align: center;
            color: $colorclaro2 ;
            font-variant: small-caps;
            font-weight: bold;
            font-size: larger;
        }
    }
}



//media querys
//mobile last max width
@media (max-width: 650px) {
    nav.nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo logo"
            "links-1 links-2";
    }

    .links-1 {
        grid-area: links-1;
    }

    .links-2 {
        grid-area: links-2;
    }

    .logo {
        grid-area: logo;
    }

    .main-inicio {
        img {
            width: 80%;
            height: auto;
        }
    }
}

@media (max-width: 480px) {
    nav.nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo logo"
            "links-1 links-1"
            "links-2 links-2";
    }

    .links-1 {
        grid-area: links-1;
    }

    .links-2 {
        grid-area: links-2;
    }

    .logo {
        grid-area: logo;
    }

}

.destinos {
    h2 {
        display: inline;
        margin: 5px;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        color: $colorblan;
    }

    display: flex;
    background-color:$colorprin;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .contiene-destinos {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        border-radius: 15px;

        .destino {
            img {
                border-radius: 20px;
                margin: 10px;
                width: 250px;
                height: 200px;

            }
        }

        div .desc {
            text-align: center;
            color: $colorblan;
            margin-bottom: 10px;
        }
    }
}