* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kollektif;
    src: url(../resources/fonts/Kollektif.ttf);
}
header.inicio {background-color:  #ffb703;
    border-bottom: #023047 10px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.nav {
   
a {
    text-decoration: none;
    color: #023047;
   text-transform: uppercase;
    font-size: medium;
    font-family: kollektif;
    margin: 2px 10px;
    border: #023047 solid 1px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
}
    background-color: #ffb703;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "links-1 logo links-2";

    ul .links-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        grid-area: links-1;
    }

    div .logo {
      
        grid-area: logo;
    }
}

ul .links-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: links-2;
    
}



.nav ul, .logo {
    background-color: #ffb703;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img {
    height: 80px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-inicio{
    display: flex;
    background-color:#8ecae6 ;
    flex-wrap: wrap;
    justify-content: center;
    img{
        height: 400px;
        border-radius: 15px;
        box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
    }
}
  .presentacion{
   
         font-family: kollektif;
        text-align: center;
        display: inline;
        align-items: center;
        justify-content: center;
      
    }
    .tarjeta-ingresa{
        border: #023047 solid 3px;
        border-radius: 15px;
        padding: 20px;
      display: block;
      margin: 20px;
      box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
    }
    .button{
        color: aliceblue;
        background-color: #023047;
        border: #023047;
        border-radius: 25px;
        font-family: kollektif;
        font-weight: bold;
        font-variant: small-caps;
        margin: 25px;
        padding: 15px;
        box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
    }
  .footer{
    text-align: center;
    color: antiquewhite;
    background-color:#023047 ;
    font-family: kollektif;
    ;
  }
  .propuestas{
    display: flex;
    background-color: antiquewhite;
    border-radius: 10px;
    .contiene-propuestas{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-radius: 15px;
    
}
        .propuesta{
            img{
                margin: 20px;
                width: 150px;
                height: 100px;
            }
        }
    }
  
//media querys
//mobile last max width
@media (max-width: 650px){
  nav.nav {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "logo logo"
          "links-1 links-2";
      }
      
      .links-1 { grid-area: links-1; }
      
      .links-2 { grid-area: links-2; }
      
      .logo { grid-area: logo; }
      
}
@media (max-width: 480px){
    nav.nav {  display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 0px 0px;
          grid-auto-flow: row;
          grid-template-areas:
            "logo logo"
            "links-1 links-1"
            "links-2 links-2";
        }
        
        .links-1 { grid-area: links-1; }
        
        .links-2 { grid-area: links-2; }
        
        .logo { grid-area: logo; }
        
  }

